<%- include('./partials/header.ejs')%>

<div class="container mt-5">
    <h1 class="text-white">About Us</h1>
    <p class="text-white ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestiae, quo nulla animi aut corporis quasi veniam reiciendis recusandae reprehenderit perspiciatis rerum voluptatibus, ipsum commodi eligendi quidem similique error ab?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quos vero quia sapiente totam est nisi suscipit libero quis, saepe omnis quas commodi eos modi, tempora, sint voluptatem cum dicta.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus enim odio, corporis voluptatem a necessitatibus aspernatur facere sit animi soluta illo maiores reiciendis. Et atque sapiente sed, consequatur vero odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, repellendus libero eius tempore autem maxime expedita esse excepturi! Nulla ipsum vel inventore fuga quas accusantium? Incidunt similique hic cupiditate eaque!
    </p>
    <p class="text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ex deserunt, dolores mollitia perspiciatis quasi vitae consectetur earum animi sed doloremque. Excepturi ipsam deserunt cumque ducimus, vero eum voluptate libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officiis tenetur expedita quam similique exercitationem atque architecto molestiae voluptas cumque temporibus iure dolore, quibusdam eligendi numquam beatae possimus minima veritatis.
    </p>
</div>

<%- include('./partials/footer.ejs')%>